body {
    text-align: center;
}
#game-info {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 30px;
    font-family: arial, helvetica, sans-serif;
}
.info {
    margin: 0 10px;
    padding: 0 10px;
}
#instructions {
    font-size: 18px;
    color: blue;
    font-family: arial, helvetica, sans-serif;
}
#scoring {
    font-size: 16px;
    color: green;
    font-family: arial, helvetica, sans-serif;
}
.score-list {
    list-style: none;
}
